*{
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:white;
}

body{
    background-color: yellow;
    height: 100px;;
}
.head{
    background-image: url("res/peakpx.jpg");
    background-size: contain;
    border-radius: 2px;
    height: 130vh;
}
.nav_bar{
    background-image: url("res/giphy.gif");
    background-repeat: no-repeat;
    background-size: 10%;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 20px;
    height: 4%;
    align-items: center;
    text-align: right;
}
.nav_bar li{
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}
.nav_bar li a{
    text-decoration: none;
    padding: 10px 50px;
    color: aliceblue;
    align-items: right;
    position: relative;
    border-radius: 20px;
    border: 1px solid yellow;
    border-radius: 20px;
}

.logo_box{
    margin: 100px;
    margin-bottom: 0px;
    height: 650px;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    align-items: center;
}
.logo_box .img{
    padding-top: 100px;
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.logo_box h1{
    margin-top: 80px;
    text-align: center;
    color: white;
    font-size: 46px;
    font-style: oblique;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trailer_box{
    margin: 20px;
    padding: 50px 150px;
    background-color: red;
    border-radius: 20px;
    display: inline-block;
    justify-content: left;
    align-items: center;

    background-color: rgba(0,0,0,0.6);
}
video {
    max-width: 100%; /* Ensure video doesn't exceed container width */
    height: 600px; /* Maintain aspect ratio */
    width: auto;
    outline: none; /* Remove default focus outline */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7); /* Optional: Add a box shadow */
}

h2{
    padding: 10px 10px;
    text-align: center;
    color: aliceblue;
    height: 20px;
}
