*{
    background-size:cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;

}
body{
    background-color: yellow;
    background-size: 100%;

}
.head{
    background-image: url("res/peakpx.jpg");
    border-radius:2%;
}
.nav{
    background-image: url("res/giphy.gif");
    background-repeat: no-repeat;
    background-size: 10%;

    padding: 20px 20px;
    height: 20%;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    text-align: right;
}
.nav li {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}
.nav li a{
    color: white;
    font-family:sans-serif;
    text-decoration: none;
    position: relative;
    align-items: right;
    padding: 10px 50px;
    border-radius: 20px;
    border: 1px solid yellow;
    transition: 0.5s;
}
.nav li a:hover{
    border: 1px solid red;
    background-color: #d1d111;
    color:aqua;
}

.bod{
    margin: 15px;
    padding: 30px;
    display: flex;
}
.bod h1{
    padding: 0 0;
    margin: 0;
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    font-family: sans-serif;
    font-style: italic;
    padding: 300px 50px;
    transition: 0.2s;
}
.bod h1:hover{
    font-size: 38px;
}
.cont1{

    padding: 0 50px;
    border-radius: 200px;
    border: 1px solid red;
    background-color: rgba(0,0,0,0.2);
}
.img1{
    height: 100vh;
    transition: 0.3s;
    border-radius: 150px;
}
.img1:hover{
    height: 105vh;
    width: auto;
}
.cyb{
    position: relative;
    align-items: bottom;
    margin:400px -100px;
}
.content{
    padding: 20px 20px;
    margin: 20px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}
.content p{
    overflow-y: auto;
}
.current{
    background-color: #d1d111;
}

